* {
    box-sizing: inherit;
    margin: 0px;
}

:root {
    --dark-green: #007A18;
    --black: #000000;
    --light-green: #089900;
    --background-color: #011400;
    --white: #FFFFFF;
    --item-bkground: #044D00;
}

.body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--white);
    font-family: "Bookman", sans-serif;
}

.container {
    padding: 0;
    margin: 0 auto;
    max-width: 1080px;

    display: grid;
    /*grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;*/
    grid-template-areas: "user header cart"
                        "categories items-list system-categories"
                        "footer footer footer";
    background-color: var(--background-color);
}

ul {
    list-style-type: none;
}

.user {
    grid-area: user;

}
a:-webkit-any-link {
    text-decoration: none;
    color: white;
}
.user > img {
    border: 1px solid var(--light-green);
    border-radius: 0.8rem;
    margin: 3px;
}

header {
    grid-area: header;
    padding: 3px;

}

.cart {
    grid-area: cart;
}

.categories {
    grid-area: categories;
}
.categories > ul > li {
    padding: 3px;   
    margin: 3px;
    background-color: var(--light-green);
    border-radius: 0.3rem;
}

.items-list {
    grid-area: items-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}
.items-list > li {
    background-color: var(--item-bkground);
    padding: 4em 1em;
    border: 3px solid var(--black);
    margin: 0.5em;
    width: 25%;
    vertical-align: bottom;
    display: grid;
    border-radius: 0.3rem;
}

.system-categories {
    grid-area: system-categories
}
.system-categories > ul > li {
    padding: 3px;
    background-color: var(--light-green);
    margin: 3px;
    border-radius: 0.3rem;
}

.footer {
    grid-area: footer;
    border-top: 1px solid var(--black);
}

.auth-form {
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 3px;
    grid-area: items-list;
    align-items: left;
}
.auth-form > label {
    padding-bottom: 3px;
}
.auth-form > label > input {
    width: 300px;
}
.signUpSubmit {
    width: 50px;
}

